<div *ngIf="meadow; else loading">
    <h1>Details der Wiese {{ meadow.name }}</h1>
    <h2>Liegt in {{ meadow.location }} mit {{ meadow.size[0] * meadow.size[1] }} m²</h2>
</div>
<ng-template #loading>
    <p>Loading meadow details...</p>
</ng-template>
<div class="spacer">
    <div *ngIf="cells; else loading">
        <div class="meadow-container">
            <div class="grid" [style.grid-template-columns]="'repeat(' + gridColumns + ', 100px)'" 
                            [style.grid-template-rows]="'repeat(' + gridRows + ', 100px)'">
                <div class="row" *ngFor="let row of cells; let rowIndex = index">
                    <div class="cell" *ngFor="let cell of row; let colIndex = index">
                        <div *ngIf="cell !== null; else emptyCell">
                            <img class="img-responsive" (click)="onTreeClick(cell._id)" src="img/treeclipart.png">
                        </div>
                        <ng-template #emptyCell>
                            <div class="empty-cell-container" (click)="navigateToAddTree(rowIndex, colIndex)">
                                <img class="plus-img" src="img/plusclipart.png">
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="back-button" (click)="navigateToHome()">
            ← Zurück zur Startseite
        </button>
    </div>
</div>