<h1>Home Page</h1>
<a class="welcome-text">Hallo, willkommen zu unserer Baum-App!</a>

<div *ngIf="meadowList && meadowList.length > 0" class="cards-container">
  <mat-card 
    *ngFor="let meadow of meadowList" 
    class="small-card" 
    appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ meadow.name }}</mat-card-title>
      <mat-card-subtitle>In {{ meadow.location }} mit {{ meadow.treeIds.length }} Bäumen und einer Fläche von {{ meadow.size[0] * meadow.size[1] }} m² </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button style="display: block; margin: 0 auto;" (click)="navigateToMeadow(meadow.id)">Mehr Informationen</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!meadowList" class="loading-container">
  Loading...
</div>