.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.small-card {
  width: 100%;
  
  mat-card-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-card-title, mat-card-subtitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  mat-card-actions{
    text-align: center;
  }
}

.loading-container {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}