<h1>Home Page</h1>

<a>Hello User welcome to the homepage</a>

<div *ngIf="meadowList && meadowList.length > 0">
  <a *ngFor="let meadow of meadowList">
    <mat-card class="small-card" appearance="outlined" *ngIf="meadow.treeIds">
      <mat-card-header>
        <mat-card-title>{{ meadow.name }}</mat-card-title>
        <mat-card-subtitle>{{ meadow.id }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <p>In {{ meadow.location }} with {{ meadow.treeIds.length }} trees and a size of {{ meadow.size[0] * meadow.size[1] }} m² </p>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-button (click)="navigateToMeadow(meadow.id)">More Information</button>
      </mat-card-actions>
    </mat-card>
    <br>
  </a>
</div>
  