.meadow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 5px;
    padding: 5px;
}

.row {
    display: contents; 
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgreen;
}

.edit-button {
  background-color: #b6da28;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #a7d129;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        opacity: 0.9;
    }
}

.empty-cell-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .plus-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        opacity: 0;
        transition: opacity 0.0s ease;
        pointer-events: none; // Prevents the image from blocking hover events
    }

    &:hover .plus-img {
        opacity: 0.8;
    }
}

.spacer {
  display: flex;
  flex-direction: column;
  align-items: center;    /* horizontal center */
  justify-content: center; /* vertical center */
  min-height: 60vh;
  gap: 1rem;
  padding: 1rem;
  text-align: center;     /* centers text inside child elements */
}